	
	<h2 id="jcenter">A Glimmer of Hope Foundation</h2>
	<p id="jcenter">A Glimmer of Hope Foundation (Glimmer) helps lift women and children out of extreme poverty in rural Ethiopia. Glimmer believes the best way to affect sustainable change is to tackle all of the unique areas that perpetuate poverty. Rather than focus on a single issue like water or education, Glimmer’s unique model of integrated development means that they work across many different sectors to bring deep, lasting change.
	Glimmer’s Ethiopian staff of development experts are pros at transforming communities through water, education, health, and micrxofinance projects. And Glimmer works only with regional Ethiopian development organizations to construct and manage its projects. These partner organizations provide valuable local expertise and are staffed with their own technical and field experts who work closely with Glimmer’s Ethiopia-based team.</p>
	<a id="jal" href="http://aglimmerofhope.org/">Click here for more information about A Glimmer of Hope Foundation</a>
	<div id="jglimmer"></div>


	<h2 id="jcenter">Kenya Education Fund</h2>
	<p id="jcenter">The Kenya Education Fund (KEF), which was formerly known as the Nomadic Kenyan Children’s Educational Fund (NKCEF), provides high school scholarships to needy children in all eight provinces of Kenya. We currently support 500 students in more than 240 high schools and universities across the country. Students are chosen for their academic potential, motivation, need, and desire to work for the betterment of their people. We provide funds for tuition at high-quality boarding schools in addition to books, uniforms, mosquito nets,sanitary products, allowances for field trips, math equipment, and tutoring when necessary. We monitor the students’ performance to ensure that they continue to take full advantage of their educational opportunities.</p>
	<a id="jal" href="http://www.kenyaeducationfund.org/">Click here for more information about Kenya Education Fund</a>
	<div id="jkenya"></div>
	


	<h2 id="jcenter">Feeding America</h2>
	<p id="jcenter">Feeding America is the nation’s largest domestic hunger-relief charity, with network members supplying food to more than 25 million Americans each year. Their network of more than 200 food banks serves all 50 states, the District of Columbia and Puerto Rico.The Feeding America network secures and distributes more than 2 billion pounds of donated food and grocery products annually.</p>
	<a id="jal" href="http://www.feedingamerica.org/?show_shov=1?referrer=http://www.takepart.com/article/2009/02/17/top-10-non-profits-fighting-poverty">Click here for more information about Feeding America</a>
	<div id="jfeed"></div>
