
	</header><br>
	<div id="ihome-pic"></div><br>
	<div id="iabout-us">
		<h1 id="icenter">WHAT WE DO</h1>
		<h2 id="icenter">Charity.org raises charitable donations to invest in companies, leaders, and ideas <br> that are changing the way the world tackles poverty.</h2>
	</div>
	<div id="isyria-pic"></div>
	<div id="inews">
		<ul>
			<h2>Syria crisis: Fast facts</h2>
			<li>13.5 million people in Syria need humanitarian assistance due to a violent civil war.</li>
			<li>4.8 million Syrians are refugees, and 6.5 million are displaced within Syria; half of those affected are children.</li>
			<li>Children affected by the Syrian conflict are at risk of becoming ill, malnourished, abused, or exploited. Millions have been forced to quit school.</li>
			<li>Most Syrian refugees remain in the Middle East, in Turkey, Lebanon, Jordan, Iraq, and Egypt; slightly more than 10 percent of the refugees have fled to Europe.</li>
		</ul>
		<ul>
			<h2>Why are Syrians fleeing their homes?</h2>
			<li>Violence: Since the Syrian civil war began, as many as 386,000 people have been killed, including nearly 14,000 children, says the Syrian Observatory for Human Rights. The war has become more deadly since foreign powers joined the conflict.</li>
			<li>Collapsed infrastructure: Within Syria, healthcare, education systems, and other infrastructure have been destroyed; the economy is shattered.</li>
			<li>Children’s safety: Syrian children — the nation’s hope for a better future — have lost loved ones, suffered injuries, missed years of schooling, and witnessed unspeakable violence and brutality. Warring parties forcibly recruit children to serve as fighters, human shields, and in support roles, according to the U.S. State Department.</li>
		</ul>
		<ul>
			<h2>What are the refugees’ greatest needs?</h2>
			<li>Syrians fleeing conflict need all the basics to sustain their lives: food, clothing, health assistance, shelter, and household and hygiene items.</li>
			<li>They need reliable supplies of clean water, as well as sanitation facilities.</li>
			<li>Children need a safe environment and a chance to play and go to school.</li>
			<li>Adults need employment options in case of long-term displacement.</li>
		</ul>
	</div>
	